@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#root {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
select {
  background-color: #f2f2f2 !important;
  border: none !important;
}
/* html[dir='rtl'] {
  font-family: 'El Messiri', sans-serif;
} */
.main-font {
  font-family: 'Poppins', sans-serif !important;
}
html[dir='ltr'] .main-font * {
  font-family: 'Poppins', sans-serif !important;
}
html[dir='rtl'] .main-font * {
  font-family: 'Almarai', sans-serif !important;
}
html[dir='ltr'] .main-font i {
  font-family: 'Icons' !important;
}
html[dir='rtl'] .main-font i {
  font-family: 'Icons' !important;
}
input,
textarea {
  @apply text-labelColor;
  background-color: #f2f2f2 !important;
  border: none !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 12px !important;
  padding: 15px !important;
  margin-top: 5px !important;
}
.ui.selection.dropdown {
  padding: 15px !important;
}
.ui.dropdown > .clear.dropdown.icon {
  margin-top: -5px !important;
}
.text.menu .active.item {
  @apply bg-primaryRedColor-default text-gray-50 rounded-md !important;
}

.auth-bg {
  background: url(./assets/images/auth-bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}
.react-toast-notifications__container {
  z-index: 200000 !important;
}

.btn-primary {
  @apply bg-primaryRedColor-default text-white hover:bg-primaryRedColor-hover transition-colors duration-300 focus:ring-offset-primaryRedColor-default px-16 py-3 text-lg font-normal shadow-md !important;
}

.btn-primary-outline {
  @apply bg-transparent ring-2 ring-primaryRedColor-default font-medium text-primaryRedColor-default hover:bg-primaryRedColor-hover hover:text-white transition-colors duration-300 focus:ring-offset-primaryRedColor-default px-16 py-3 text-lg shadow-md !important;
}

.btn-declined {
  @apply bg-gray-100 text-gray-400 hover:bg-gray-300 transition-colors duration-300 focus:ring-offset-gray-400 px-12 py-3 text-lg font-normal shadow-md !important;
}
.ui.checkbox input:checked ~ .box:before,
.ui.checkbox input:checked ~ label:before {
  border-color: #f2421b !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
  color: #f2421b !important;
}

.ui.toggle.checkbox .box:hover::before,
.ui.toggle.checkbox label:hover::before {
  @apply bg-gray-100 !important;
}
.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  height: 2.2rem !important;
  width: 4.6rem !important;
}

.ui.toggle.checkbox .box:after,
.ui.toggle.checkbox label:after {
  width: 1.9rem !important;
  height: 1.9rem !important;
  @apply bg-gray-300 shadow-none !important;
}
.ui.toggle.checkbox input.hidden:checked ~ .box:before,
.ui.toggle.checkbox input.hidden:checked ~ label:before {
  @apply bg-transparent ring-2 ring-primaryRedColor-default !important;
}
.ui.toggle.checkbox .box:after,
.ui.toggle.checkbox label:after {
  top: 2px !important;
}
.ui.toggle.checkbox input:checked ~ .box:after,
.ui.toggle.checkbox input:checked ~ label:after {
  @apply bg-primaryRedColor-default left-10 !important;
}

#nav-menu {
  padding: 0 55px !important;
  /* height: 50px; */
  font-family: 'Poppins', sans-serif;
}

#nav-menu.desktop-menu {
  position: static !important;
}

#nav-menu .item {
  @apply text-gray-300;
}

#nav-menu .item.active {
  @apply bg-primaryRedColor-default;
}
#dashboard-menu-requests {
  background-color: #f3f8ff;
  /* height: 100px; */
}
#dashboard-menu-requests .item::before {
  display: none;
}
#dashboard-menu-requests .item.active {
  background-color: #fff !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
}
#dashboard-menu-requests .item:hover {
  background: none !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#dashboard-menu-requests .item.active:hover {
  background-color: #fff !important;
}
#dashboard-menu-requests .bottom-arrow {
  position: relative;
  border-bottom: 5px solid #f2421b;
  border-radius: 50px;
}
#dashboard-menu-requests .bottom-arrow::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 7px solid #f2421b;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
div[role='listbox'].dropdown {
  background-color: #f2f2f2 !important;
  border: none !important;
  border-radius: 5px !important;
}
.dropdown.active .menu {
  border: none !important;
  box-shadow: none !important;
}

.react-code-input input {
  font-size: 25px !important;
  padding: 7px !important;
}
.secondary-text-color {
  color: #f2421b !important;
}

/* landing styles*/

#home-section {
  background-image: url(./assets/images/landingPage/shapes.svg);
}

#discount-section {
  background-image: url(./assets/images/landingPage/shapes.svg);
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  #contact-section {
    background-image: url(./assets/images/landingPage/Contact.svg);
    background-position: 10% 250%;
    background-repeat: no-repeat;
  }
}

.landing-icons {
  width: 80px;
  height: 80px;
}

.footer {
  background-color: #244066;
}

.footer-bottom {
  background-color: #20395c;
}

.ui.action.input > .button,
.ui.action.input > .buttons > .button {
  background-color: #f2421b;
  color: #fff;
  border: 1px solid #f2421b;
  /* padding: 0 25px !important; */
  margin: auto !important;
  max-width: 50% !important;
}

#landing-nav {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 8px;
}

wrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
